<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Now a day’s many youngsters are not able to showcase their talents in a right way, but if they do it in a right platform surely they would earn fame and money out of it. Not only youngsters, but many household women’s 
        who have unique talents in many ways like cooking, pottery, aari works, quilling etc, are all handy works which may bring them a decent amount of income so that they can stand on their own legs. It is a one stop app for 
        all qualified handmade, homemade products and you can purchase them on review based. Here you may not need to worry how will your product be stored in our warehouse because it’s not we who’s going to keep your product but it’s 
        you the seller will have your product safe under your supervision. To ensure your products quality a video of your product begin packed should be uploaded at the time of the delivery. When it comes to food product a quality code
         will be generated to both the customer and the seller so that when the time limit exceeds or if the product is been delivered before the time of the preparation time the product is considered to be expired. This feature is there
          in amazon only to compare branded products against fake branded products using code which is been given to the branded product. But here in W (AND) T (Watch and Take) all products from small to big are verified and quality checked.      
    </p>

</div>